<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 round3">
      <div>
        <h4>Services</h4>
        <br />

        <div class="list-group mx-0 w-auto">
          <label
            class="list-group-item d-flex gap-2"
            *ngFor="let i of services"
          >
            <br />
            <li type="button" (click)="selectedSer(i)">
              <input
                class="form-check-input flex-shrink-0"
                type="radio"
                name="listGroupRadios"
                id="listGroupRadios1"
              />
              {{ i.id }}- {{ i.name }}
            </li>
            <br />
          </label>
        </div>

        <br />
        <button
          class="button is-normal button is-link is-light"
          type="button"
          [disabled]="!valid"
          (click)="addService()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div *ngFor="let i of services"></div>

  <!-- 
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div> -->

  <!-- <div *ngIf="showCustomerInfos" class="customer-infos">
        <h4>Customer</h4>
        <span *ngIf="showIndCustomer">
          First Name: {{ selectedIndCustomer.firstName }}
          <br />
          Last Name: {{ selectedIndCustomer.lastName }}
          <br />
          Birth Date:{{ selectedIndCustomer.birthDate }}
          <br />
          National ID: {{ selectedIndCustomer.nationalIdentity }}
          <br />
        </span>
        <span *ngIf="showCorpCustomer">
          companyName : {{ selectedCorpCustomer.companyName }}
          <br />
          Tax Number : {{ selectedCorpCustomer.taxNumber }}
          <br />
        </span>
        <span>
          <h4>Service</h4>
          {{ serviceSave?.id }}-{{ serviceSave?.name }}
        </span>
        <br />
        <button
          class="form-save"
          routerLink="/customers"
          (click)="saveCustomer()"
        >
          Save
        </button>
      </div> 
    </div>
  </div> -->
</div>
